# MongoDB
MONGO_CONNECTION_STRING=mongodb://localhost:27017
DATABASE_NAME=ecommer

# JWT Authentication
JWT_SECRET=YOUR_SUPER_SECRET_KEY_AT_LEAST_32_CHARACTERS_LONG
JWT_ISSUER=Ecommer.Api
JWT_AUDIENCE=Ecommer.Client
JWT_EXPIRE_DAYS=7
